<!-- template do componente -->
{{ title }}
<br>

{{ name }}
<br>

Só exibir
<input [ngModel]="name" type="text" name="one-way" placeholder="One-way Data Binding">
<br>
Exibir e atualizar
<input [(ngModel)]="name" type="text" name="two-way" placeholder="Two-way Data Binding">

<hr>

<h1>Explicação <b>Data Binding</b>:</h1>
<p>Data Binding basicamente é uma técnica para que os valores das variaveis do componente sejam refletidas na página, ou seja, se o componente tem uma variavel nome a ideia seria que através do data binding a gente consiga exibir esse nome sem manipulações direta no DOM.8 de set. de 2020</p>
<ul>
    <li>
        O One-Way Data Binding ou ligação de dados unidirecional significa vincular dados apenas em uma direção, ou seja, mover os dados do 'Modelo' para a interface do usuário ou view.
    </li>
    <li>
        Two-way data binding, é o termo dado a reatividade dos elementos na sua interface. Ou seja, o que acontece no DOM (View), reflete no JavaScript(Model), e o que acontece no JavaScript(Model), reflete no DOM(View).7 de set. de 2021
    </li>
</ul>